<h1>Item Sold: <%= @exchange.listing.product.name %></h1>

Buyer: <%= @exchange.user.full_name %><br>
Seller: <%= @exchange.listing.user.full_name %><br>

Transaction Price: $<%= @exchange.listing.price %><br>

